@model ToDoTasks.Models.TaskUser 

@{
    ViewBag.Title = "Login";
}
 
<style>
    #login-div {
        position: absolute;
        left: 40%;
        right: 40%;
        border: 1px solid #ccc;
        padding: 10px 10px;
    }

    .field-validation-error {
        color: red;
    }
</style>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
    <fieldset>
        <legend>Todo Task</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
        <div id="login-div" style="border: 1px solid red">
            @ViewBag.Message
        </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.UserName)</td>
                <td>@Html.TextBoxFor(model => model.UserName)</td>
                <td>@Html.ValidationMessageFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserPassword)
                </td>
                <td>
                    @Html.PasswordFor(model => model.UserPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.UserPassword)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>